@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-gab-dark: #0f1f3a;
  --color-gab-darker: #091326;
  --color-gab-gold: #CBA153;
  --color-gab-gold-light: #E5C67C;
}

body {
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, -apple-system, sans-serif;
  @apply bg-slate-50 text-slate-900 dark:bg-slate-950 dark:text-slate-200 transition-colors duration-500;
}